.LineChart {
  height: 100%;
  width: 100%;
}

.LineChart > .MainChart {
  height: 80%;
}

.LineChart > .BrushChart {
  height: 20%;
  position: relative;
}

.LineChart > .BrushChart > .Brush {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
